body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.lista-productos {
  background: radial-gradient(#c7fbff, #f4faea)
}

.bgNav{
  background-color: #00888f;
  width: 100vw;
}

.linkNav{
  color: white;
  transition: 0.2s;
}

.linkNav :hover{
  color: rgb(189, 39, 39);
}

.itemListContainer {
  background-color: azure;
  height: 15vh;
}

.paddingNone {
  padding: 0px;
}

.marginNone{
  margin: 0px;
}

.render-prod {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}


@media (max-width: 500px) {
  .render-prod {
    grid-template-columns: auto auto auto;
  }

  .linkNav {
    font-size: 0.5rem;
  }
}

.contenedor-products {
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  height: 550px;
  width: 22vw;
}

.contenedor-products:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.detalle-producto{
  position: absolute;
  bottom: 3px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  box-shadow: 0px 2px 1px 0px;
  color: white;
  max-height: 10vh;
  text-decoration: none;
  transition: 0.3s;
}

.detalle-producto:hover{
  transform: scale(0.9);
}

.detalle-producto > p{
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

.imagen-products{
  width: 100%;
  height: 250px;
}

.title-products{
  text-align: center;
  font-size: 1rem;
}

.contenedor-detalle{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  height: 85vh;
  width: 95vw;
}

.contenedor-detalle:hover {
  transform: scale(1.005);
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-detalle > img{
  grid-column: 1;
  width: 100%;
  height: 74vh;
  grid-row: span 6;
}

.contenedor-detalle > h1{
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}

.precio-detalle{
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.descripcion-detalle{
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}

.rate-detalle{
  grid-column: 2;
  grid-row: 4;
  text-align: center;
}

.contador-stock{
  grid-column: 2;
  grid-row: 5;
}

.ir-carrito-detalle{
  grid-column: 2;
  grid-row: 6;
  text-align: center;
}

.boton-reiniciar-detalle{
  grid-column: 2;
  grid-row: 7;
  text-align: center;
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}
  
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contenedor-carrito{
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  
  width: 32vw;
}

.contenedor-carrito:hover {
  transform: scale(1.005);
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-carrito > img{
  width: 100%;
  height: 30vh;
}



.render-carrito {
  background: radial-gradient(#c7fbff, #f4faea);
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

.eliminar-producto-carrito{
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  box-shadow: 0px 2px 1px 0px;
  color: white;
  transition: 0.3s;
}

.eliminar-producto-carrito:hover{
  transform: scale(1.02);
}

.total-parcial-carrito{
  font-size: 1rem;
}

@media (max-width: 750px) {

  .detalle-producto > p{
    font-size: 0.7rem;
  }
}

@media (max-width: 600px) {

  .detalle-producto > p{
    font-size: 0.5rem;
  }

  .title-products{
    font-size: 0.8rem;
  }

  .render-carrito {
    grid-template-columns: auto auto;
  }

  .borrar-productos > p{
    font-size: 0.8rem;
  }

  .titulo-carrito{
    font-size: 0.8rem;
  }

  .terminar-compra > p{
    font-size: 1rem;
  }

  .contenedor-carrito{
    height: 60vh;
  }

  .contenedor-carrito > img {
    height: 25vh;
  }

  .precio-carrito{
    font-size: 1rem;
  }

  .cantidad-carrito{
    font-size: 0.8rem;
  }

  .total-parcial-carrito{
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .eliminar-producto-carrito{
    font-size: 0.8rem;
  }
  .precio-total-carrito{
    font-size: 0.8rem;
  }
  .cantidad-carrito{
    font-size: 0.8rem;
  }
  .terminar-compra > p{
    font-size: 0.8rem;
  }
}


.carrito-vacio {
  background: radial-gradient(#dacece, #9094bd);
}

.borrar-productos {
  font-size: 1rem;
  border-radius: 0.4rem;
  height: 6vh;
  width: 18vw;
  background-color: rgba(255, 60, 0, 0.7);
  border: none;
  color: white;
  transition: 0.4s;
}

.borrar-productos:hover {
  transform: scale(1.1);
}

.terminar-compra {
  font-size: 1.5rem;
  border-radius: 0.4rem;
  height: 6vh;
  width: 30vw;
  background-color: rgba(66, 241, 50, 0.7);
  border: none;
  color: white;
  transition: 0.4s;
}

.terminar-compra:hover{
  transform: scale(1.1);
}

.footer > p{
  padding: 0px;
  margin: 1rem 0rem;
}